{%  extends 'main.html'  %}
{% load static %}
{% block content %}
    

    <main>
        <h2>عن متجرنا لسيارات المرسيدس</h2>
        <p>
            متجر مرسيدس هو الوجهة الأولى لعشاق السيارات الفاخرة في اليمن. منذ تأسيسنا، ونحن نقدم مجموعة متميزة من السيارات الألمانية الأصلية، 
            مع التركيز على الجودة، الفخامة، والأداء العالي. هدفنا هو توفير تجربة شراء فريدة ومريحة لكل عميل.
        </p>
        <p>
            نؤمن أن كل سيارة تروي قصة، لذلك نحرص على توفير أحدث الموديلات مثل A-Class, E-Class, S-Class, GLE, و G-Class،
            مع خيارات متنوعة تناسب كل الأذواق. 
            نحن لا نبيع السيارات فقط، بل نقدم خدمات شاملة من الاستشارة قبل الشراء، إلى صيانة ما بعد البيع والدعم الفني المتميز.
        </p>

            <img class="offer" src="{% static 'assets/images/images/m.jpg' %}" alt="m.jpg">

        <p>
            فريقنا متفاني في ضمان رضا العملاء، ونسعى دائماً لتقديم الأفضل في كل تفاصيل تجربة الشراء. 
            عندنا، الجودة، الأمان، والفخامة ليست مجرد كلمات، بل هي وعد نقدمه لكل من يزور متجرنا.
        </p>
        <p>
            انضموا إلينا اليوم واستكشفوا عالم مرسيدس الفاخر، حيث تلتقي التكنولوجيا الألمانية الرائدة مع التصميم الراقي والخدمة الاستثنائية.
        </p>
    </main>
 <script > 
 window.onload = function() {
            alert("مرحباً بك في متجر مرسيدس 🚘✨");
        }
  </script>   

{% endblock %}
